<!DOCTYPE html>
<html>

  <head>
    <title>Blogger's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-200">
    <main class="container w-fit ml-[50px] mt-[50px] flex">
      <%= yield %>
    </main>
  </body>
</html>
